In [11]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

df=pd.read_csv('map_info.csv')

data = df.loc[:,'con_rate':'administrative_expenses']
target = df.loc[:,'bedroom':'bedroom']

x_train, x_test, y_train, y_test = train_test_split(data, target, test_size=0.3, shuffle=False)

In [21]:
y_test

    bedroom
21      3.0
22      4.0
23      5.0
24      1.0
25      1.0
26      4.0
27      3.0
28      3.0
29      4.0

In [18]:
classifier = KNeighborsClassifier(n_neighbors = 3)
classifier.fit(x_train, y_train)
prediction = classifier.predict(x_test)
# train set의 정확도

classifier.score(x_test, y_test)

C:\Users\micke\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().

0.6666666666666666

In [19]:
prediction

array([3., 4., 4., 1., 1., 3., 3., 4., 4.])

In [20]:
df

,Unnamed: 0,con_rate,bath,porch_structure,administrative_expenses,main_area,bedroom
0,0,87.0,2.0,1,450000.0,155,4.0
1,4,92.0,2.0,1,250000.0,163,5.0
2,5,82.0,2.0,1,150000.0,102,3.0
3,6,84.0,3.0,1,300000.0,157,5.0
4,7,72.0,1.0,2,150000.0,59,3.0
5,8,70.0,1.0,0,150000.0,49,2.0
6,9,93.0,2.0,0,200000.0,131,4.0
7,10,81.0,2.0,1,200000.0,107,4.0
8,11,78.0,2.0,2,150000.0,84,3.0
9,12,94.0,1.0,1,250000.0,96,3.0
10,13,86.0,2.0,1,250000.0,133,4.0
11,15,76.0,2.0,1,150000.0,84,3.0
12,17,77.0,2.0,1,150000.0,84,3.0
13,19,81.0,2.0,1,200000.0,113,4.0
14,20,74.0,1.0,0,120000.0,58,2.0
15,21,66.0,1.0,1,100000.0,31,1.0
16,22,83.0,2.0,1,200000.0,122,4.0
17,23,77.0,2.0,1,150000.0,84,3.0
18,24,70.0,1.0,0,120000.0,59,3.0
19,25,93.0,1.0,1,300000.0,95,3.0
20,27,93.0,2.0,1,400000.0,132,4.0
21,28,93.0,1.0,1,250000.0,95,3.0
22,29,93.0,2.0,1,400000.0,125,4.0
23,30,87.0,2.0,1,478000.0,158,5.0
24,31,78.0,1.0,0,80000.0,28,1.0
25,32,78.0,1.0,2,80000.0,28,1.0
26,33,78.0,2.0,1,155000.0,97,4.0
27,34,75.0,2.0,1,370000.0,84,3.0
28,36,75.0,2.0,1,496000.0,94,3.0
29,37,86.0,2.0,1,470000.0,127,4.0

In [72]:
type(prediction)

numpy.ndarray